.socialGroup {
  background-color: #101624;
  border: 1px solid #232935;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  height: 80px;
  width: 448px;
  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 12px;
  bottom: 30px;
  left: -448px
}

.socialLinks {
  display: flex;
}

.socialBtn {
  margin-left: 17px;
  overflow: hidden;
  background-color: #070d1b;
  border: 0.5px solid #3f4551;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  min-width: 50px;
  max-width: max-content;
  height: 50px;
  text-align: center;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  text-decoration: none;
  padding: 10px;
}

.socialBtn:hover, .active {
  padding: 6px;
  width: 100%;
  max-width: min-content;
}

.socialIcon {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.iconName {
  margin: 5px;
  font-family: "Museo Sans Cyrl", monospace;
  font-weight: 600;
  color: #fdfeff;
  overflow: hidden;
  display: flex;
}